@import "../../../styles/_variables.scss";

.btn {
  height: 34px;
  padding: 0 5px;
  font-size: 1rem;
  background: $color-main-sky-blue;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-family:'Raleway', sans-serif;
  &:hover{
    background: $color-light-sky-blue;
    cursor: pointer;
  }
  &:active{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}