@import "../../styles/_variables.scss";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
  & a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &:hover:not(.active) {
      background-color: #111
    }
  }
}
.active {
  background-color: $color-main-sky-blue;
  &:hover {
    background-color: $color-light-sky-blue;
  }
}